In [1]:
import re
import pandas as pd
import numpy as np
import json
import subprocess
import glob
import os

%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.colors as colors
from matplotlib import cm
matplotlib.style.use('ggplot')
import matplotlib.patches as mpatches
from matplotlib.legend_handler import HandlerPatch

In [2]:
#create pandas dataframe

In [5]:
import mysql.connector  
import pandas as pd
from sqlalchemy import create_engine
from mysql.connector import errorcode

In [6]:
df = pd.DataFrame([[1.1, 1.1, 1.1, 2.6, 2.5, 3.4,2.6,2.6,3.4,3.4,2.6,1.1,1.1,3.3], \
                   list('AAABBBBABCBDDD'), \
                   [1.1, 1.7, 2.5, 2.6, 3.3, 3.8,4.0,4.2,4.3,4.5,4.6,4.7,4.7,4.8]]).T

In [7]:
df.head()

     0  1    2
0  1.1  A  1.1
1  1.1  A  1.7
2  1.1  A  2.5
3  2.6  B  2.6
4  2.5  B  3.3

In [8]:
try:
    cnx = mysql.connector.connect(user='wilfeli', password='catdog34',
                              host='127.0.0.1',
                              database='test_pvtools')
    print(cnx)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    cnx.close()

<mysql.connector.connection.MySQLConnection object at 0x10fbbd0b8>

In [9]:
engine = create_engine('mysql+mysqlconnector://wilfeli:catdog34@127.0.0.1:3306/test_pvtools', echo=False)

In [10]:
engine.connect()

In [11]:
df.to_sql(name='sample_table3', con=engine, if_exists = 'append', index=False)

In [ ]:
#eff1.1cost1.0
#tick 1 - 260
#value random